<section class="kitchen-about">
  <div class="container__kitchen-about">
    <h2 class="visually-hidden">About our kitchen</h2>
    <h3 class="tagline kitchen-about__title" lang="en">
      Amet minim mollit non
    </h3>
    <span class="brand kitchen-about__subtitle" lang="en">MIMIHO</span>
    <article class="kitchen-about__article">
      <p class="kitchen-about__text" lang="en">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit. Exercitation
        veniam consequat sunt nostrud amet.
      </p>
      <div class="kitchen-about__article-img-one">
        <picture>
          <source
            srcset="
              ./images/kitchen-about/kitchen-photo1-mobile-1x.jpg,
              ./images/kitchen-about/kitchen-photo1-mobile-2x.jpg
            "
            media="(max-width: 1023px)"
          />
          <source
            srcset="
              ./images/kitchen-about/kitchen-photo1-tablet-1x.jpg,
              ./images/kitchen-about/kitchen-photo1-tablet-2x.jpg
            "
            media="(max-width: 1279px)"
          />
          <source
            srcset="
              ./images/kitchen-about/kitchen-photo1-desktop-1x.jpg,
              ./images/kitchen-about/kitchen-photo1-desktop-2x.jpg
            "
            media="(min-width: 1280px)"
          />
          <img
            src="./images/kitchen-about/kitchen-photo1-mobile-1x.jpg"
            alt="Cooking"
          />
        </picture>
      </div>
    </article>

    <article class="kitchen-about__article-img-two">
      <div class="kitchen-about__food">
        <picture>
          <source
            srcset="
              ./images/kitchen-about/kitchen-photo2-mobile-1x.jpg,
              ./images/kitchen-about/kitchen-photo2-mobile-2x.jpg
            "
            media="(max-width: 1023px)"
          />
          <source
            srcset="
              ./images/kitchen-about/kitchen-photo2-tablet-1x.jpg,
              ./images/kitchen-about/kitchen-photo2-tablet-2x.jpg
            "
            media="(max-width: 1279px)"
          />
          <source
            srcset="
              ./images/kitchen-about/kitchen-photo2-desktop-1x.jpg,
              ./images/kitchen-about/kitchen-photo2-desktop-2x.jpg
            "
            media="(min-width: 1280px)"
          />
          <img
            src="./images/kitchen-about/kitchen-photo2-mobile-1x.jpg"
            alt="food"
          />
        </picture>
      </div>
      <p class="kitchen-about__text-food">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit. Exercitation
        veniam consequat sunt nostrud amet.
      </p>
    </article>
  </div>
</section>
