<section class="room">
    <div class="container">
        <div></div>
        <h3>Amet minim mollit non</h2>
            <span>
                MIMIHO
            </span>
            <h2>ДВОМІСНИЙ НОМЕР люкс</h2>
            <p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis
                enim velit
                mollit. Exercitation veniam consequat sunt nostrud amet.</p>
    </div>
    <picture>
        
    </picture>

    </div>

</section>