.footer {
    padding-top: 40px;
    padding-bottom: 41px;
    background-image: linear-gradient(
        to right,
        #0E0C07 264px,
        rgba(122, 122, 122, 0.4) 264px,
        rgba(122, 122, 122, 0.4) 265px,
        #0E0C07 265px
    );

    @include respondTo('diapente') {
        padding-top: 80px;
        padding-bottom: 80px;
        background-image: linear-gradient(
            to right,
            #0E0C07 511px,
            rgba(122, 122, 122, 0.4) 511px,
            rgba(122, 122, 122, 0.4) 512px,
            #0E0C07 512px,
            #0E0C07 749px,
            rgba(122, 122, 122, 0.4) 749px,
            rgba(122, 122, 122, 0.4) 750px,
            #0E0C07 750px
        )
    }

    @include respondTo('diapason') {
        background-image: linear-gradient(
            to right,
            #0E0C07 641px,
            rgba(122, 122, 122, 0.4) 641px,
            rgba(122, 122, 122, 0.4) 642px,
            #0E0C07 642px,
            #0E0C07 941px,
            rgba(122, 122, 122, 0.4) 941px,
            rgba(122, 122, 122, 0.4) 942px,
            #0E0C07 942px
        )
    }
    
    &__container {
        display: flex;
        align-items: center;
    }
    
    &__content {
    
        @include respondTo('diapente') {
            display: flex;
        }
    }
    
    &__nav {
        @extend %list;
    }
    
    &__soc-menu {
        @extend %list;
        gap: 21px;
    
        @include respondTo('tritonus') {
            display: none;
        }
    
        @include respondTo('diapente') {
            display: block;
            margin-left: 135px;
        }
    
        @include respondTo('diapason') {
            margin-left: 199px;
        }
    }
    
    &__soc-menu--telefon {
        @extend %list;
        display: flex;
        gap: 21px;
        margin-top: 33px;
    
        @include respondTo('tritonus') {
            display: flex;
        }
    
        @include respondTo('diapente') {
            display: none;
        }
    }
    
    &__link {
        @extend %link;
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: getColor('accent');
    }
    
    &__item:not(:last-child) {
        margin-bottom: 16px;
    }
    
    &__soc-icon {
        fill: getColor('footer-icon');
    }
    
    &__soc-link {
        @extend %link;
        display: flex;
        justify-content: space-between;
        align-items: center;
    
        @include respondTo('diapente') {
            font-size: 16px;
            line-height: 1.25;
            letter-spacing: 0.02em;
            color: getColor('accent');
        }
    }
    
    &__soc-item {
        @include respondTo('diapente') {
            padding: 10px 12px;
            border: 0.5px solid getColor('accent');
            border-radius: 2px;
            min-width: 144px;
        }
    }
    
    &__soc-item:not(:last-child) {
        @include respondTo('diapente') {
            margin-bottom: 12px;
        }
    }
}

