.footer {
    background-color: #0e0c07;
}

.footer__container {
    display: flex;
    min-height: 240px;
    justify-content: space-around;
    align-items: center;
    
    padding-top: 40px;
    padding-bottom: 40px;
    
    @include respondTo('diapente') {
        min-height: 304px;
        padding-top: 80px;
        padding-bottom: 80px;
    }
}

.footer__content {
    @include respondTo('diapente') {
        display: flex;
    }
}

