.footer__nav {
    @extend %list;
    position: relative;
    
    @include respondTo('tritonus') {
        margin-bottom: 32px;
    }

    @include respondTo('diapente') {
        margin-right: 137px;
    }

    @include respondTo('diapason') {
        margin-right: 199px;
    }

}

.footer__nav::before {
    content: "";
    position: absolute;
    display: block;
    width: 1px;
    background: rgba(122, 122, 122, 0.4);
    filter: blur(0.5px);
        @include respondTo('tritonus') {
            min-height: 240px;
            left: -8px;
            top: -40px;
    }
        @include respondTo('diapente') {
            min-height: 304px;
            left: -8px;
            top: -80px;
        }
}

.footer__link {
    @extend %link;
    font-family: $text-font-stack;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: getColor('accent');
}

.footer__item:not(:last-child) {
    margin-bottom: 16px;
}