.footer__nav {
    @extend %list;
    position: relative;
    
    @include respondTo('tritonus') {
        margin-bottom: 32px;
    }

    @include respondTo('diapente') {
        margin-right: 137px;
    }

    @include respondTo('diapason') {
        margin-right: 199px;
    }

}

.footer__nav::after {
    position: absolute;
    content: "";
    display: block;
    width: 1px;
    height: 100%;
    background: rgba(122, 122, 122, 0.4);
    filter: blur(0.5px);
    right: 78px;

}

.footer__link {
    @extend %link;
    font-family: $text-font-stack;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: getColor('accent');
}

.footer__item:not(:last-child) {
    margin-bottom: 16px;
}